* { 
    margin: 0; 
    padding: 0;
} 

body{
	background-color: #D4E7ED;
	font-family: "Times New Roman", Times, serif;
}

header{
	background-color: 	#7195A3;
	text-align: center;
	font-size: 2em;
}

#content {
	background-color: #FFFFFF;
	width: 960px;
	margin:0 auto;

}

#navigation{
	text-align: center;
	background-color: 	#B06A3B;
	font-size: 1.5em;
	border-top: 2px solid #EB8540;
}
#navigation ul{
	padding:5px 0 5px 0;
}
#navigation li{
	list-style:none;
	display:inline-block;
}

#navigation a{
	text-decoration: none;
	padding:0 5px 0 5px;
	color: #000000;
	line-height:100%;
}

#navigation a:hover{
	color: #FFFFFF;
}

#navigation #current a {
	color: #FFFFFF;
}

#calendar {
		width: 900px;
		margin: 0 auto;
}
			
#doctorColorOne{
	background-color: red;
	text-align:center;
}